.card_information{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    

}

.container_stats{
 display: flex;
 flex-flow: row wrap;
 gap: 10px;
 justify-content: center;
}

.information_title{
    text-align: center;
}

.card_name{
    text-transform: uppercase;
}
.card_image{
    width: 60%;
    background-color: rgba(120, 118, 118,0.1)
}
.container_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.item_value{
    margin-top: 5px;
    margin-bottom: 5px;
}

.card_pokemon{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    align-items: center;
    border-radius: 10px;
    font-size: 0.7rem;
    padding: 0.3rem;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100% ;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 7px;
    -moz-background-size: 100% 7px;
    background-size: 100% 7px;
}

.pokemon_container{
    margin: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem
    
}

h1{
    text-align: center;
}

.pokemon_form{
    text-align: center;
}